	<div id="game">
			<!-- game goes here -->

			<div class="screen" id="splash-screen">
				<h1 class="logo"><%= render 'game/logo' %></h1>

				<!--<div class="progress">
					<div class="indicator"></div>
				</div>-->

				<span class="continue">Click to Continue</span>
			</div>

			<div class="screen" id="install-screen">
           <h1 class="logo"><%= render 'game/logo' %></h1>
            <span>
                Click the <img src="/img/install-icon.png"
                               alt="Install icon"> 
                button to install the game to your home screen.
           	</span>
        	</div><!-- end of install screen -->

			<div class="screen" id="main-menu">
				<h1 class="logo"><%= render 'game/logo' %></h1>
				<ul class="menu">
					<li><button name="game-screen">Play</button></li>
					<li><button name="high-scores">Highscore</button></li>
					<li><button name="about">About</button></li>
					<li><button name="exit-screen">Exit</button></li>
				</ul>
			</div><!-- end of div class screen -->

			<div class="screen" id="game-screen">
	            <div class="game-board">
	                <div class="announcement"></div>
	            </div>

	            <div class="game-info">
	                <label class="level">Level: <span></span></label>
	                <label class="score">Score: <span></span></label>
	            </div>

	            <div class="time progress"><div class="indicator"></div></div>
	            <footer>
	                <button class="exit">Exit</button>
	                <button class="pause">Pause</button>
	            </footer>

	            <div class="pause-overlay">
	                <div class="pause-text">Pause</div>
	            </div>
	        </div>
	        
			<div class="screen" id="high-scores">
				<h2 class="logo">High score</h2>
				<ol class="score-list">
					
				</ol>
				<footer>
					<button class="back">Back</button>
				</footer>
			</div>			 
		</div> <!-- end of id: game -->