		<meta charset="UTF-8">
		

		<!-- setting up viewpoint -->
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- enabling web application mode -->
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- icons for the game (this shows up on iphone for ei:) -->

		<link rel="shortcut icon" href="/img/icons/favicon.ico">
		<link rel="apple-touch-icon" sizes="57x57" href="//img/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="//img/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="//img/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="//img/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="//img/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="//img/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="//img/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="//img/icons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="//img/icons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="//img/icons/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="//img/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="//img/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="//img/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="//img/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#000000">
		<meta name="msapplication-TileImage" content="//img/icons/mstile-144x144.png">
		<meta name="msapplication-config" content="//img/icons/browserconfig.xml">

		<!-- specifying a startup image -->
		<link rel="apple-touch-startup-image"
			  href="//img/ios_startup/ios-startup-748x1024.png"
			  media="screen and (min-device-width: 768px)
			  				and (orientation: landscape)" />
		<link rel="apple-touch-startup-image"
			  href="//img/ios_startup/ios-startup-768x1004.png"
			  media="screen and (min-device-width: 768px)
			  				and (orientation: portrait)" />
		<link rel="apple-touch-startup-image"
			  href="//img/ios_startup/ios-startup-320x460.png"
			  media="screen and (min-device-width: 768px)
			  				and (max-device-width: 320px)" />


		<!-- Choosing between diffrent status bars (ie: black) for ipad 
			 Can also choose black-translucent but it is broken in iOS 7 -->
		<meta name="apple-mobile-web-app-status-bar-style"
					content="black" />

		<!-- prevents using -webkit- and all those does automatically -->
		<!-- <script src="/script/lib/prefixfree.min.js"></script> -->

		<!-- main css style sheet -->
		<link rel="stylesheet" href="/css/main.css" />
		<!-- <link rel="stylesheet" href="/assets/stylesheets/application.css" /> -->


		<!-- checking queries -->
		<!-- <link rel="stylesheet"
			  href="/css/mobile.css"
			  media="screen and (max-device-width: 768px)
			  				and (orientation: portrait),
			  		 screen and (max-device-width: 1024px)
			  		 		and (orientation: landscape)"/> -->

