        <script src="/script/jewel.js"></script>
		<script>

        $(document).on('page:load', function() { 
            jewel.load("/script/dom.js");
            

            if (jewel.isStandalone()) {
                jewel.load("/script/screen_splash.js", jewel.setup);
                jewel.load("/script/screen_main_menu.js");

                if (!jewel.hasWebWorkers()) {
                    jewel.preload("/script/board_worker.js");
                    jewel.load("/script/board_worker_interface.js");
                } else {
                    jewel.load("/script/board.js");
                }

                jewel.load("/script/screen_game.js");
                jewel.load("/script/screen_high_scores.js");
                jewel.load("/script/requestAnimationFrame.js");
                jewel.load("/script/display_canvas.js");
                jewel.load("/script/input.js");
                jewel.load("/script/audio.js");
                jewel.load("/script/storage.js");
            } else {
                jewel.load("/script/screen_install.js", jewel.setup);
            }

        });

    </script>