<% provide(:title, "Game") %>
<!DOCTYPE HTML>
	<html>
	<head>
		
		<title> RWBY Gems </title>
		
    	<%= render 'game/head' %>

			<%= render 'game/scripts' %>
	</head>

	<body>
		<%= render 'game/gamescreen' %>


	</body>
</html>























