<h1>RWBY Gems</h1>

<p>Hi <%= @user.username %>,</p>

<p>
Welcome to RWBY Gems! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>