// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash {
 background: image-url("home/splash_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;

  body {
  	background-color:rgba(255,130,255,0.5);
  	margin-top: -60px;
  	width: 50%;
  	height: 107vh;

  }
  nav {
  	text-align: center;
  }
  h2 {
  	color:black;
  }
}

