<% provide(:title, 'splash') %>


<!DOCTYPE html>

<html class="splash">

  <head>
  <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
  
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to RWBY Gems</h1>

      <h2>
        This is the website for RWBY enthusists!
      </h2>
      <nav>
	      <%= link_to "Sign in", login_path, class: "btn btn-lg btn-primary" %>
	      <%= link_to "Register", signup_path, class: "btn btn-lg btn-primary" %>
      </nav>
    </div>
  </body>
</html>